{{#extends "base"}}

{{#block "content"}}
<h1>Summary of New Food</h1>
<ul>
    <li>Name of Food: {{foodName}}</li>
    <li>Calories: {{calories}}</li>
    <li>Meal: {{meal}}</li>
    <li>Cuisine: {{cuisine}}</li>
    {{#if selectedTags}}
    <li>Tags: 
        {{#each selectedTags}}
        <span class="badge bg-primary">{{this}}</span>
        {{/each}}
    </li>
    {{/if}}
</ul>
{{/block}}

{{/extends}}